{% extends "app_store/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %} Carrinho {% endblock %}

{% block content %}
    <div class="container">

        <header class="section-heading">
            <h5 class="title-section text-muted">Shopping cart</h5>
        </header>
        <br>
        {% if cart.total_items > 0 %}
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card">

                        <div class="table-responsive">

                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"> </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="{{ item.0.image.url }}" class="img-sm"></div>
                                                <figcaption class="info ml-2">
                                                    <a href="#" class="title text-dark">{{ item.0.name }}</a>
                                                    <p class="text-muted small">{{ item.0.description|truncatechars:40 }}</p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <input type="number"
                                                   class="cart-item-quantity form-control"
                                                   data-initial-value="{{ item.0.price_new|floatformat:2 }}"
                                                   data-index="{{ item.0.id }}"
                                                   value="{{ item.1 }}">
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <h5 class="price">R$ <span class="price-{{ item.0.id }}">{{ item.2|floatformat:2 }}</span></h5>
                                                <small class="text-muted"> (R$ {{ item.0.price_new|floatformat:2 }} each) </small>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td class="text-right d-none d-md-block">
                                            <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                            <a href="{% url 'remove-from-cart' item.0.id %}" class="btn btn-light"> Remove</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div> <!-- table-responsive.// -->

                    </div> <!-- card.// -->

                </aside> <!-- col.// -->
                <aside class="col-lg-3">

                    <div class="card mb-3">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Have coupon?</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="" placeholder="Coupon code">
                                        <span class="input-group-append">
				                            <button class="btn btn-primary">Apply</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->

                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                {% if discount %}
                                    <dt>Discount:</dt>
                                    <dd class="text-right text-danger">- R$ {{ discount }}</dd>
                                {% endif %}
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b"><strong>R$ </strong><span id="cart-total">{{ total|floatformat:2 }}</span></dd>
                            </dl>
                            <hr>
                            <a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
                            <a href="{% url 'store-home' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->

                </aside> <!-- col.// -->
            </div> <!-- row.// -->

        {% else %}
            <p>Você ainda não adicionou nada no carrinho de compras</p><br>
            <a href="{% url 'store-home' %}" class="btn btn-secondary"><i class="icon fa fa-arrow-left"></i>&ensp;Voltar para a loja</a>


        {% endif %}

        <br><br>
    </div>
{% endblock %}