{% extends "store/base.html" %}
{% load staticfiles %}

{% block title %} Store {% endblock %}

{% block content %}
<section class="section-main bg padding-top-sm">
	<div class="container">

		<header class="section-heading">
			<h3 class="title-section text-muted">Search: {{ query }}</h3>
		</header><br>
		<div class="row">
			<!-- Loop through top_sellers queryset -->
			{% for product in results %}
			<div class="col-md-3">
				<figure class="card card-product">
					<div class="img-wrap"> 
						<img src="{% static 'images/items/3.jpg' %}">
						<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
					</div>
					<figcaption class="info-wrap">
						<a href="#" class="title">{{product.name}}</a>
						<div class="action-wrap">
							<a href="#" class="btn btn-warning btn-sm float-right"> Add to cart </a>
							<div class="price-wrap h5">
								<span class="price-new">R${{product.price}}</span>
								<del class="price-old">$1980</del>
							</div>
						</div>
					</figcaption>
				</figure>
			</div>
			{% endfor %}
		</div> 
	</div>
</section>
{% endblock %}